syntax: glob
*~
*.o
bin/*
builder/*
*.class
*.orig
*dist/*.jar
log4.log
gui/log4.log
lib/jars/other/themes.jar
components/common/src/main/native/linux/SystemUtils/*.so
components/http/build/classes/org/limewire/http/package.html
DerivedData/
hs_err_*.log
.DS_Store
._.DS_Store
components/azureus/src/main/resources/org/gudy/azureus2/internat/*
lib/jars-src/commons-logging-1.0.4-src/target/*
builder
lib/native/mplayer/config
lib/themes/themes.jar
lib/mplayer/upx
messages.mo
build/
reports/
.gradle/
.settings/
*.swp
.settings/
*.sdf
*.suo
*.user
*UpgradeLog.xml
_UpgradeReport_Files/
Debug/
Release/
ipch/
*.opensdf
components/resources/dist/lw-resources.jar
lib/jars/fwtips.jar
OCSetupHlp.dll
components/*/dist/
components/*/build/
lib/jars-src/dist/
/bin
GPATH
GTAGS
GRTAGS
.meta
*.iws
*.iml
*.ipr
local.properties
*/.idea
.idea
android/captures/
/desktop/out
*.vs/
android/.externalNativeBuild/
android/gradlew.bat
android/jni/
android/obj/
android/pepk.jar
common/src/main/cpp/
desktop/gradle/
desktop/seenDomains.txt
gradle/
gradlew
gradlew.bat
light/
settings.gradle
telluride/notarizationLog.sh
telluride/notarizeMacOSApp.sh
telluride/telluride.exe
telluride/telluride_linux
telluride/telluride_macos*
.todos.json
desktop/lib/native-src/osx/machine_name
desktop/lib/native-src/osx/machine_name.arm64
desktop/lib/native-src/osx/machine_name.x86_64
desktop/lib/jars/frostwire.jar
telluride/.vscode/
telluride/telluride.build/
telluride/telluride.dist/
.grok/
