syntax: glob
*~
*.o
bin/*
builder/*
*.class
*.orig
*dist/*.jar
log4.log
gui/log4.log
lib/jars/other/themes.jar
components/common/src/main/native/linux/SystemUtils/*.so
components/http/build/classes/org/limewire/http/package.html
DerivedData/
hs_err_*.log
.DS_Store
._.DS_Store
components/azureus/src/main/resources/org/gudy/azureus2/internat/*
lib/jars-src/commons-logging-1.0.4-src/target/*
builder
lib/native/mplayer/config
lib/themes/themes.jar
lib/mplayer/upx
messages.mo
build/
reports/
.gradle/
.settings/
*.swp
.settings/
*.sdf
*.suo
*.user
*UpgradeLog.xml
_UpgradeReport_Files/
Debug/
Release/
ipch/
*.opensdf
components/resources/dist/lw-resources.jar
lib/jars/fwtips.jar
OCSetupHlp.dll
components/*/dist/
components/*/build/
lib/jars-src/dist/
/bin
GPATH
GTAGS
GRTAGS
.meta
*.iws
*.iml
*.ipr
local.properties
*/.idea
.idea
android/captures/
/desktop/out
*.vs/